#:schema node_modules/wrangler/config-schema.json
name = "gbc-find-bin-collection-schedule"
main = "worker.js"
workers_dev = true
compatibility_date = "2025-12-21"
compatibility_flags = ["nodejs_compat_v2"]

[browser]
binding = "MYBROWSER"

[vars]
BASE_URL = "https://www.gbcbincalendars.co.uk"
GEDLING_LEGACY_REFUSE_SEARCH_URL = "https://apps.gedling.gov.uk/refuse/search.aspx"
GEDLING_BIN_COLLECTIONS_SEARCH_URL = "https://waste.digital.gedling.gov.uk/w/webpage/bin-collections"

[observability]
enabled = true
head_sampling_rate = 1
