{% assign dataId = page.name | replace: "-", "_" | remove: '.html' %}

{% if page.url contains 'garden' %}
    {% assign dataKey = "gedling_borough_council_" | append: dataId | append: "_garden_bin_schedule" %}
{% else %}
    {% assign dataKey = "gedling_borough_council_" | append: dataId | append: "_bin_schedule" %}
{% endif %}

{% assign jsonData = site.data.icaljs[dataKey].collectionDates %}

{% assign icalUrl = "/ical/" | append: dataKey | append: ".ics" | absolute_url %}

<h2>{{ page.title }}</h2>

<p>You can view the collection dates for the {{ page.title }} schedule below.</p>

<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
    <a href="{{ icalUrl }}" class="btn btn-primary me-md-2">Download calendar</a>
    <a href="{{ '/json/' | append: dataKey }}.json" class="btn btn-success">JSON data</a>
</div>

<p>To subscribe to this calendar use the following iCal URL:</p>

<div class="bg-light p-3 mb-4 border border-1">
    <code>
        {{ icalUrl }}
    </code>
</div>

{% assign months = jsonData | group_by_exp: "collection", "collection.collectionDate | date: '%B %Y'" %}

{% if page.url contains 'garden' %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for month in months %}
            <div class="col">
                <h3 id="{{ month.name | slugify }}">{{ month.name }}</h3>

                <ol class="list-unstyled">
                    {% for item in month.items %}
                        <li class="{% if item.isChangedCollection %}text-danger fw-bold{% endif %}">{{ item.collectionDate | date: "%A" }} {{ item.collectionDate | date: "%-d %B" }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row row-cols-1 row-cols-sm-2 g-4">
        {% for month in months %}
            <div class="col">
                <h3 id="{{ month.name | slugify }}">{{ month.name }}</h3>

                {% for item in month.items %}
                    <div class="p-3 mb-2 bg-{{ item.type }} {% if item.isChangedCollection %}border border-3 border-danger{% endif %}">
                        <span class="fw-bold">{{ item.collectionDate | date: "%A" }} {{ item.collectionDate | date: "%-d %B" }} - {{ item.name }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}