{% assign dataId = page.name | replace: "-", "_" | remove: '.html' %}

{% if page.url contains 'garden' %}
    {% assign isGardenCollection = true %}
    {% assign dataKey = "gedling_borough_council_" | append: dataId | append: "_garden_bin_schedule" %}
{% else %}
    {% assign dataKey = "gedling_borough_council_" | append: dataId | append: "_bin_schedule" %}
    {% assign isGardenCollection = false %}
{% endif %}

{% assign jsonData = site.data.icaljs[dataKey].collectionDates %}
{% assign icalUrl = "/ical/" | append: dataKey | append: ".ics" | absolute_url %}

<div class="border-bottom border-1 mb-4">
    <h2>{{ page.title }}</h2>

    <p>You can view the collection dates for the {{ page.title }} schedule below.</p>

    <div class="bg-light p-3 mb-3 border border-1">
        <p>To subscribe to this calendar use the following iCal URL:</p>

        <label for="ical-url" class="visually-hidden">iCal URL</label>
        <input class="form-control w-100" type="text" id="ical-url" value="{{ icalUrl }}" readonly>
        <p id="ical-url-copy-result" class="d-none mt-1 mb-0"></p>

        <div class="d-grid d-md-flex gap-1 mt-2">
            <button type="button" class="btn btn-secondary" onclick="copyToClipboard()">Copy iCal URL</button>
            <a href="{{ icalUrl }}" class="btn btn-gedling-red" download>Download calendar</a>
            <a href="{{ '/json/' | append: dataKey }}.json" class="btn btn-success">View as JSON</a>
        </div>
    </div>

    <script>
        function copyToClipboard() {
            var icalUrl = document.getElementById("ical-url");
            var icalCopyMessage = document.getElementById("ical-url-copy-result");

            icalUrl.select();
            icalUrl.setSelectionRange(0, icalUrl.value.length);

            navigator.clipboard.writeText(icalUrl.value).then(() => {
                icalCopyMessage.textContent = 'iCal URL has been copied to the clipboard!';
                icalCopyMessage.classList.add('text-success');
                icalCopyMessage.classList.remove('d-none');
            }, () => {
                icalCopyMessage.classList.remove('d-none');
                icalCopyMessage.classList.add('text-danger');
                icalCopyMessage.textContent = 'iCal URL could not be copied to clipboard, please manually copy the URL.';
            });

            setTimeout(function() {
                icalCopyMessage.classList.add('d-none');
                icalCopyMessage.classList.remove('text-success', 'text-danger');
            }, 3000);
        }
    </script>
</div>

{% assign months = jsonData | group_by_exp: "collection", "collection.collectionDate | date: '%B %Y'" %}

{% if isGardenCollection %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for month in months %}
            <div class="col">
                <h3 id="{{ month.name | slugify }}">{{ month.name }}</h3>

                <ol class="list-unstyled">
                    {% for item in month.items %}
                        <li {%- if item.isChangedCollection %} class="text-danger fw-bold"{% endif %}>
                            {{ item.collectionDate | date: "%A %-d %B" }}
                            {% if item.isChangedCollection %}
                                (Changed Collection)
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </div>

    <p class="mt-2 mb-4 fw-bold text-danger">There are no collections in January and February.</p>

{% else %}
    <div class="row row-cols-1 row-cols-sm-2 g-4">
        {% for month in months %}
            <div class="col" data-collection-month-start="{{ month.name | date: '%F' }}">
                <h3 id="{{ month.name | slugify }}">{{ month.name }}</h3>

                {% for item in month.items %}
                    <div data-bin-collection-date="{{ item.collectionDate | date: '%F' }}" class="{%- if item.isChangedCollection %} border border-3 border-danger{% endif %} p-3 mb-2 bg-{{ item.type }} fw-bold">
                        {{ item.collectionDate | date: "%A %-d %B" }} - {{ item.name }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="refuse-collection-key my-4" aria-hidden="true">
        <h4 class="text-muted h6 fw-bold text-uppercase">Calendar key</h4>

        <div class="d-md-flex">
            <div class="me-md-3">
                <i class="bi bi-square-fill text-black-bin"></i>
                <span class="ms-1">General Waste</span>
            </div>

            <div class="me-md-3">
                <i class="bi bi-square-fill text-green-bin"></i>
                <span class="ms-1">Recycling</span>
            </div>

            <div class="me-md-3">
                <i class="bi bi-square-fill text-glass-bin"></i>
                <span class="ms-1">Recycling &amp; Glass</span>
            </div>

            <div>
                <i class="bi bi-square-fill text-danger"></i>
                <span class="ms-1">Changed Collection</span>
            </div>
        </div>
    </div>

    <script>
        var collectionMonths = document.querySelectorAll('[data-collection-month-start]');

        collectionMonths.forEach(function(el) {
            var collectionMonthStart = el.getAttribute('data-collection-month-start');
            var dateNow = new Date().getTime();

            if (collectionMonthStart) {
                var monthStart = new Date(collectionMonthStart);
                var monthEnd = new Date(monthStart);
                monthEnd.setMonth(monthStart.getMonth() + 1);

                // If the whole month has passed, set opacity on the main column
                if (dateNow > monthEnd) {
                    el.classList.add('opacity-75');
                } else {
                    // Check for any collection dates that may be in the past during the month
                    Array.from(el.children).forEach(function(childEl) {
                        var collectionBinDate = childEl.getAttribute('data-bin-collection-date');

                        if (collectionBinDate) {
                            var collectionDate = new Date(collectionBinDate);
                            var collectionEndDate = new Date(collectionDate);
                            // Add 12 hours to collection date for midday
                            collectionEndDate.setHours(collectionDate.getHours() + 12);

                            // Check for any past collections within the month
                            if (dateNow >= collectionEndDate) {
                                childEl.classList.add('opacity-75');
                            }
                        }
                    });
                }
            }
        });
    </script>
{% endif %}