{% assign dataId = page.name | replace: "-", "_" | remove: '.html' %}
{% assign pageTitle = page.title | remove: "Refuse/Recycling Collection: " | remove: "Garden Waste Collection: " %}
{% assign pageTitleParts = pageTitle | split: " " %}

{% if page.url contains 'garden' %}
    {% assign isGardenCollection = true %}
    {% assign binType = "Refuse/Recycling Collections" %}
    {% assign dataKey = "gedling_borough_council_" | append: dataId | append: "_garden_bin_schedule" %}
{% else %}
    {% assign isGardenCollection = false %}
    {% assign binType = "Garden Waste Collections" %}
    {% assign dataKey = "gedling_borough_council_" | append: dataId | append: "_bin_schedule" %}
{% endif %}

{% assign jsonData = site.data.icaljs[dataKey] %}
{% assign icalUrl = jsonData.icalPath | absolute_url %}

<h1 class="h2">{{ page.title }}</h1>

<p>You can view the collection dates for the {{ pageTitle }} schedule below. You can download or subscribe to the calendar through the iCal URL. Alternatively you can bookmark this page to view the calendar dates at any time.</p>

<div class="bg-light p-3 mb-4 border border-1">
    <p class="fw-bold mb-2">To subscribe to this calendar use the following iCal URL:</p>

    <label for="ical-url" class="visually-hidden">iCal URL</label>
    <input class="form-control w-100" type="text" id="ical-url" value="{{ icalUrl }}" readonly>

    <div class="d-grid d-md-flex gap-2 mt-2">
        <button id="copy-ical-url-btn" type="button" class="btn btn-secondary">Copy iCal URL</button>
        <a href="{{ icalUrl }}" class="btn btn-gedling-red" download>Download calendar</a>
        <a href="{{ jsonData.jsonPath | absolute_url }}" class="btn btn-success">View as JSON</a>
    </div>
</div>

<script>
    const copyIcalBtn = document.querySelector('#copy-ical-url-btn');
    copyIcalBtn.addEventListener('click', function() {
        let icalUrl = document.getElementById("ical-url");

        icalUrl.select();
        icalUrl.setSelectionRange(0, icalUrl.value.length);

        window.dataLayer.push({
            'event': 'bin_collection_calendar_subscribe',
            'bin_type': '{{ binType }}',
            'bin_weekday': '{{ pageTitleParts[0] }}',
            'bin_schedule': '{{ pageTitleParts[1] }}'
        });

        navigator.clipboard.writeText(icalUrl.value)
            .then(() => {
                let toast = new bootstrap.Toast(document.querySelector('.toast'));
                toast.show();
            }, (error) => {
                console.error(error.name, error.message);
            });

    });
</script>

{% assign months = jsonData.collectionDates | group_by_exp: "collection", "collection.collectionDate | date: '%B %Y'" %}

{% assign lastCollectionDate = months.last.items.last.collectionDate %}
<div calendar-last-collection-date="{{ lastCollectionDate | date: '%F' }}" class="alert alert-primary d-flex align-items-center mb-4 calendar-update-alert d-none" role="alert">
    <i class="bi bi-info-circle-fill me-2 fs-4" aria-hidden="true"></i>
    <div>
        This calendar is due to be updated soon for the next year. When Gedling Borough Council publishes the new calendars, the information will be updated after the last collection date: <strong>{{ lastCollectionDate | date: '%-d %B %Y' }}</strong>.
    </div>
</div>

{% if isGardenCollection %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

        {% for month in months %}
            <div class="col" data-collection-first="{{ month.items.first.collectionDate | date: '%F' }}" data-collection-last="{{ month.items.last.collectionDate | date: '%F' }}">
                <h2 class="h3" id="{{ month.name | slugify }}">{{ month.name }}</h2>
                <ol class="list-unstyled">
                    {% for item in month.items %}
                        <li data-bin-type="{{ item.type }}" data-bin-collection-date="{{ item.collectionDate | date: '%F' }}" {%- if item.isChangedCollection %} class="text-danger fw-bold"{% endif %}>
                            {{ item.collectionDate | date: "%A %-d %B" }}
                            {% if item.isChangedCollection %}
                                (Changed Collection)
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </div>

    <p class="mt-2 mb-4 fw-bold text-danger">There are no collections in January and February.</p>

{% else %}
    <div class="row row-cols-1 row-cols-sm-2 g-4">
        {% for month in months %}
            <div class="col" data-collection-first="{{ month.items.first.collectionDate | date: '%F'  }}" data-collection-last="{{ month.items.last.collectionDate | date: '%F' }}">
                <h2 class="h3" id="{{ month.name | slugify }}">{{ month.name }}</h2>

                {% for item in month.items %}
                    <div data-bin-type="{{ item.type }}" data-bin-collection-date="{{ item.collectionDate | date: '%F' }}" class="{%- if item.isChangedCollection %} border border-3 border-danger{% endif %} p-3 mb-2 {{ item.type }} bg-{{ item.type }} fw-bold">
                        {{ item.collectionDate | date: "%A %-d %B" }} - {{ item.name }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <p class="fw-bold fs-5 mt-3 text-gedling-red">Don’t forget to put your bin and glass box out by 6am.</p>

    <div class="refuse-collection-key my-4" aria-hidden="true">
        <h4 class="text-muted h6 fw-bold text-uppercase">Calendar key</h4>

        <div class="d-lg-flex">
            <div class="me-md-3">
                <i class="bi bi-square-fill text-black-bin"></i>
                <span class="ms-1">General Waste</span>
            </div>

            <div class="me-md-3">
                <i class="bi bi-square-fill text-green-bin"></i>
                <span class="ms-1">Recycling</span>
            </div>

            <div class="me-md-3">
                <i class="bi bi-square-fill text-glass-bin"></i>
                <span class="ms-1">Recycling &amp; Glass</span>
            </div>

            <div class="me-md-3">
                <i class="bi bi-square text-black"></i>
                <span class="ms-1">Next/Upcoming Collection</span>
            </div>

            <div>
                <i class="bi bi-square text-danger"></i>
                <span class="ms-1">Changed Collection</span>
            </div>
        </div>
    </div>
{% endif %}

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Calendar URL copied!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                The calendar URL for the {{ pageTitle }} bin collection schedule was copied to your clipboard.
            </div>
        </div>
    </div>
</div>

<script>
    let dateNow = new Date();
    let dateNowTime = dateNow.getTime();
    let calendarUpdateAlert = document.querySelector('.calendar-update-alert');

    // If the calendar is coming to an end, display the alert
    if (calendarUpdateAlert) {
        let lastCalendarCollectionDate = new Date(calendarUpdateAlert.getAttribute('calendar-last-collection-date'));

        if (dateNow.getMonth() === lastCalendarCollectionDate.getMonth() && 
            dateNow.getFullYear() === lastCalendarCollectionDate.getFullYear() || 
            dateNowTime >= lastCalendarCollectionDate) {
            calendarUpdateAlert.classList.remove('d-none');
        }
    }

    let collectionMonths = document.querySelectorAll('.col');

    // Find all in the future collections marking the nearest one that's upcoming
    let upcomingCollections = Array.from(document.querySelectorAll('[data-bin-collection-date]'))
        .filter(node => {
            let upcomingDate = new Date(node.getAttribute('data-bin-collection-date'));
            upcomingDate.setHours(upcomingDate.getHours() + 12);

            if (upcomingDate >= dateNowTime) {
                return node;
            }
        });

    if (upcomingCollections) {
        let upcomingCollection = upcomingCollections[0];

        if (upcomingCollection.getAttribute('data-bin-type') !== 'garden-bin') {
            upcomingCollection.classList.add('border', 'border-3', 'border-black');
        }
        else {
            upcomingCollection.classList.add('fw-bold');
        }
    }

    collectionMonths.forEach(function(el) {
        let collectionFirst = new Date(el.getAttribute('data-collection-first'));
        let collectionLast = new Date(el.getAttribute('data-collection-last'));

        // Add 12 hours to set to last collection in the month to be the cut off
        collectionLast.setHours(collectionLast.getHours() + 12);

        // Check if last collection date in the month has passed and mark the whole month
        if (dateNowTime > collectionLast) {
            el.classList.add('opacity-90');
        }
        else {
            // Check for any collection dates that are in the past for the current month
            let collectionDates = el.querySelectorAll('[data-bin-collection-date]');

            collectionDates.forEach(function(el) {
                let collectionBinDate = el.getAttribute('data-bin-collection-date');
                
                if (collectionBinDate) {
                    let collectionDate = new Date(collectionBinDate);
                    let collectionEndDate = new Date(collectionDate);
                    // Add 12 hours to collection date for midday to be the cut off
                    collectionEndDate.setHours(collectionDate.getHours() + 12);

                    if (dateNowTime >= collectionEndDate) {
                        el.classList.add('opacity-90');
                    }
                }
            });
        }
    });
</script>
