<footer class="border-top border-bottom bg-light py-4 mt-3">
    <div class="container">
        <p class="mb-0"><span class="fw-bold">Disclaimer:</span> The calendar data and information provided on this website is unofficial and not officially published by Gedling Borough Council.</p>
        <p class="mb-0">You can read more <a href="https://github.com/jamesmacwhite/gedling-borough-council-bin-calendars/blob/main/README.md">about this website</a> and the process behind the publication of bin collection data in other formats.</p>
    </div>
</footer>