<h2 class="mt-4">Garden Waste Collections</h2>

<p><a href="https://www.gedling.gov.uk/rubbish/gardenwaste/">Garden Waste Collections</a> are an additional paid service and follow a different schedule to refuse/recycling. There are a total of 10 schedules labelled A - J, with each weekday being assigned two schedules.</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for day in page.garden_collection %}
        <div class="col">
            <h3>{{ day[0] }}</h3>

            {% for schedule in day[1] %}
                <div class="schedule mb-3">
                    <h4><span class="visually-hidden">Schedule:</span> {{ schedule.name }}</h3>
                    <div class="d-grid gap-2 d-block d-lg-flex">
                        <a aria-label="Download iCal for {{ day[0] }} {{ schedule.name }} schedule" href="{{ schedule.ics }}" class="btn btn-gedling" download>Download iCal</span></a>
                        <button id="{{ schedule.id }}" type="button" class="btn btn-secondary">Copy iCal URL</button>
                    </div>

                    <script>
                        document.querySelector("button#{{ schedule.id }}").addEventListener('click', async () => {
                            try {
                                await navigator.clipboard.writeText('{{ schedule.ics }}');
                            } catch (err) {
                                console.error(err.name, err.message);
                            }
                        });
                    </script>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>