<header class="bg-gedling-red text-white py-2">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <a href="{{ site.url }}">
                {% include logo.html width="200" %}
            </a>

            {% if page.url != '/collections/' %}
                <a href="{{ '/collections' | absolute_url }}" class="d-none d-print-none d-md-block btn btn-light" id="view-calendars-btn">
                    View all calendars
                </a>
            {% endif %}
            
        </div>
    </div>
</header>