<h2 class="mt-4">Refuse/Recycling Collections</h2>

<p>There are a total of 20 different collection schedules. 4 schedules for each weekday labelled G1-G4.</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for day in site.data.calendars.refuse_collection %}
        <div class="col">
            <h3>{{ day[0] }}</h3>

            {% for schedule in day[1] %}
                <div class="schedule mb-3">
                    <h4><span class="visually-hidden">Schedule:</span> {{ schedule.name }}</h3>

                    <div class="d-grid gap-2 d-block d-lg-flex">
                        <a aria-label="Download iCal for {{ day[0] }} {{ schedule.name }} schedule" href="{{ schedule.ics }}" class="btn btn-gedling" download>Download iCal</a>
                        <button type="button" id="{{ schedule.id }}" class="btn btn-secondary">Copy iCal URL</button>
                    </div>

                    <script>
                        document.querySelector("button#{{ schedule.id }}").addEventListener('click', async () => {
                            try {
                                await navigator.clipboard.writeText('{{ schedule.ics }}');
                                var toastElList = [].slice.call(document.querySelectorAll('.toast'));
                                var toastList = toastElList.map(function(toastEl) {
                                    return new bootstrap.Toast(toastEl);
                                });
                                toastList.forEach(toast => toast.show());
                                
                            } catch (err) {
                                console.error(err.name, err.message);
                            }
                        });
                    </script>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>