// Custom CSS

body {
    font-family: "Montserrat", sans-serif !important;
}

.btn-gedling {
    background-color: #a9233e !important;
    color: white !important;
    text-decoration: none !important;
}

.toast-container {
    z-index: 11;

    .toast-body {
        background-color: #fafafa;
    }
}