// RESERVED FOR ANY CUSTOM CSS REQUIRED

html {
    background-color: $body-bg;
}

.bg-green-glass-bin {
    background-color: $glass-bin;
    @include gradient-directional($green-bin, $glass-bin, 90deg);
}

pre {
    margin-bottom: 0;
}

.highlight {
    padding: 0.8rem;
}

.header-full {
    background: url(../images/gedling-country-park.jpg) no-repeat center black;
    background-size: cover;
}

.breadcrumb li {
    &:before {
        color: #333333;
        fill: #333333;
    }
}

@include media-breakpoint-down(sm) { 
    .nav-tabs {

        --bs-nav-tabs-border-width: 0;

        li {
            --bs-nav-tabs-border-width: 0;
            width: 100%;
            display: block;

            button {
                display: block;
                width: 100%;
            }

            > .nav-link {
                --bs-nav-tabs-border-radius: 0;
                --bs-nav-link-padding-y: .7rem;
                --bs-nav-link-padding-x: 1.2rem;
                @include rfs(.3rem, border-radius);
            }
        }
    }
}

.development {
    &:before {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
        padding: 0.25rem 0.5rem;
        background: rgba(0,0,0,0.75);
        color: #fff;
        content: 'xs';

        @include media-breakpoint-up(sm) { 
            content: 'sm'; 
        }

        @include media-breakpoint-up(md) { 
            content: 'md'; 
        }

        @include media-breakpoint-up(lg) { 
            content: 'lg'; 
        }

        @include media-breakpoint-up(xl) {
            content: 'xl'; 
        }

        @include media-breakpoint-up(xxl) { 
            content: 'xxl'; 
        }
    }
}