@media print {

    html {
        background-color: transparent !important;
    }

    .development {
        &:before {
            display: none !important;
        }
    }

    #CookiebotWidget {
        display: none !important;
    }

    .col {
        opacity: 1 !important;
    }

    .container {
        max-width: 100% !important;
    }

    #refuse-schedule-container {
        .col {
            width: 33.33333333% !important;
        }
    }

    .schedule-title {
        font-size: 1rem !important;
    }

    .schedule-item {
        opacity: 1 !important;
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
        background-image: none !important;
        background-color: transparent !important;

        p {
            font-size: 0.9rem !important;
        }
    }

    [data-is-changed-collection="true"] {
        color: $danger;
    }
}