---
---

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Bootstrap icons
$bootstrap-icons-font-src: url("../fonts/bootstrap-icons.woff2") format("woff2"), url("../fonts/bootstrap-icons.woff") format("woff");
@import "bootstrap-icons/font/bootstrap-icons";

// Boostrap 5
@import "bootstrap/scss/functions";

$font-family-sans-serif: Inter, Arial, sans-serif;
$headings-font-weight: bold;
$gedling-red: #AA273E;
$gedling-red-light: #C46274;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$green-bin: #6eb43f;
$glass-bin: #00aeef;

$custom-colors: (
    "gedling-red": $gedling-red,
    "gedling-red-light": $gedling-red-light,
    "green-bin": $green-bin,
    "black-bin": #a7a9ac,
    "glass-box": $glass-bin,
    "garden-bin": #a0522d
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities: (
  "opacity": (
    property: opacity,
    class: opacity,
    state: hover,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      90: .90,
      95: .95,
      100: 1
    )
  )
);

$link-color: $gedling-red;
$link-hover-color: darken($link-color, 15%);
$input-placeholder-color: $gray-600;

$breadcrumb-divider: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M12.6008%2012L8.70078%208.10005C8.51745%207.91672%208.42578%207.68338%208.42578%207.40005C8.42578%207.11672%208.51745%206.88338%208.70078%206.70005C8.88411%206.51672%209.11745%206.42505%209.40078%206.42505C9.68411%206.42505%209.91745%206.51672%2010.1008%206.70005L14.7008%2011.3C14.8008%2011.4%2014.8716%2011.5084%2014.9133%2011.625C14.9549%2011.7417%2014.9758%2011.8667%2014.9758%2012C14.9758%2012.1334%2014.9549%2012.2584%2014.9133%2012.375C14.8716%2012.4917%2014.8008%2012.6%2014.7008%2012.7L10.1008%2017.3C9.91745%2017.4834%209.68411%2017.575%209.40078%2017.575C9.11745%2017.575%208.88411%2017.4834%208.70078%2017.3C8.51745%2017.1167%208.42578%2016.8834%208.42578%2016.6C8.42578%2016.3167%208.51745%2016.0834%208.70078%2015.9L12.6008%2012Z'%20fill='#333333'/%3e%3c/svg%3e");
$breadcrumb-active-color: black;
$breadcrumb-item-padding-x: .3rem;

$toast-background-color: white;
$body-bg: #f2f2f2;

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

// Custom
@import "syntax-highlighter.css";
@import "custom";
@import "print";