---
title: Refuse collection schedules
layout: default
---

<h2 class="mb-3">Garden Waste Collection schedules</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for collections in site.data.calendars.bin_collections %}
        {% if collections.name == 'Garden Waste Collections' %}
            {% for weekday in collections.collections %}
                <div class="col">
                    <h3>{{ weekday[0] }}</h3>
                    <ul>
                        {% for collection in weekday[1] %}
                            <li>
                                <a href="{{ collection.permalink | absolute_url }}">{{ collection.name }} Garden Waste Collection Calendar</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>