---
title: Garden Waste Collection schedules
description: All Garden Waste Collection schedules labelled A - J.
breadcrumb: Garden
layout: default
---

<h1 class="h2 mb-3">{{ page.title }}</h1>

<p>The garden waste collection service runs every year from the start of April to the end of March the following year (there are no collections in January and February).</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for collections in site.data.calendars.bin_collections %}
        {% if collections.name == 'Garden Waste Collections' %}
            {% for weekday in collections.collections %}
                <div class="col">
                    <h2 class="h3">{{ weekday[0] }}</h2>
                    <ul>
                        {% for collection in weekday[1] %}
                            <li>
                                <a href="{{ collection.permalink | absolute_url }}">{{ collection.name }} Garden Waste Collection Calendar</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>