---
title: Refuse/Recycling collection schedules
description: All refuse/recycling bin collection schedules labelled as G1 - G4.
breadcrumb: Refuse
layout: default
---

<h2 class="mb-3">{{ page.title }}</h2>

{% assign refuseCollections = site.data.calendars.bin_collections[0] %}

{{ refuseCollections.description|markdownify }}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for collection in refuseCollections.collections %}
        <div class="col">
            {% assign weekday = collection[0] %}
            <h3>{{ weekday }}</h3>

            <ol class="list-unstyled">
                {% for calendar in collection[1] %}
                    <li>
                        <a href="{{ calendar.permalink | absolute_url }}">
                            <span class="visually-hidden">{{ weekday }}</span>
                            {{ calendar.name }} Bin Collection Calendar
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endfor %}
</div>