name: Deploy Cloudflare Worker

on:
  push:
    branches:
      - main
    paths:
      - '.dev.vars'
      - 'worker.js'
      - 'wrangler.toml'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: '4.56.0'
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}